<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Layout</title>
<link rel="stylesheet" href="css/layout.css" />
</head>
<body>
	<div id="contenedor">
    	<header><h1>Cabecera de la página</h1></header>
        <nav>
        	<ul>
            	<li><a href="#">Inicio</a></li>
            	<li><a href="#">Perfiles</a></li>
            	<li><a href="#">Acerca de</a></li>
        	</ul>
        </nav>
    	<section>
        	<h2>Sección de la páginas</h2>
            <article>
            	<h3>Artículo 1</h3>
                <a href="#">Ancla 1</a>
                <a href="#">Ancla 2</a>
            </article>
            <article>
            	<h3>Artículo 2</h3>
            </article>
        </section>
        <aside>Barra lateral</aside>
        <footer>Todos los derechos reservados &reg;</footer>
    </div>
</body>
</html>